@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 15px 0;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    border-radius: 10px;
}


.post-body ul,
ol {
    font-size: 110%;
    line-height: 2.3;
    font-weight: bold;
    margin: 10px 0;
}

.post-body pre {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    line-height: 2.3;
}

.loaderIcon {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@media (max-width: 500px) {
    .posts {
        grid-template-columns: 1fr;
    }
}
